.gallery{
    .hero{
        background-image: url("../../img/mba-block.jpg");
        // height: 50vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 70px 40px;
    }
}