.header{
    .top-bar{
        background-color: black;
    }
    .main-navbar{
        background-color: #f2f2f2 !important;
        color: black;
        .nav-item{           
            margin: 0px 5px;
        }
        @media screen and (max-width:400px){
            .navbar-brand{
                a{
                    font-size: 17px;
                }
            }
        }
    }
    .logo{    
        text-align: center;
        a{
            display: inline;
        }
        img{
            max-width: 95px;
            max-height: 95px;
        }
    }
}
.loader{
    &::before{
        content: " ";
        width: 100%;
        position: absolute;
        top: 0;
        border-top: 4px solid #fff;
        left: 0;
        animation: load 1s;
    }
    @keyframes load {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}